@import url("/pages/docs.css");

.avatar {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin: 0 auto;
    /* border: 1px solid var(--BLUE); */
}

.badge--container{
    border: 1px solid var(--GRAY-80);
    padding: 1.5rem 2rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    max-width: 80%;
    width: auto; 
    border-radius: 0.2rem;
}

.badge{
    position: relative;
    top: -1.7rem;
    left: 5.2rem;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: var(--GREEN);
    border: 2px solid var(--WHITE);
}

.badge--online{
    background-color: var(--GREEN);
}

.badge--offline{
    background-color: var(--GRAY50);
}

.badge--dnd{
    background-color: var(--RED);
}

/* badge--icon */

.icon{
    font-size: 35px;
    color: var(--WHITE);
    /* background-color: var(--BLUE); */
    padding: 15px;
    border-radius: 50%;
    text-align: center;

}


.badge--number{
    position: relative;
    top: -25px;
    left: 78px;
    font-size: x-small;
    font-weight: 400;
    border-radius: 30px;
    background-color: var(--GREEN);
    color: var(--WHITE);
    padding: 0px 6px;
    border: 2px solid var(--WHITE);
}