<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/components/image/image.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>QUANTUM UI | Home</title>
</head>

<body>

    <!--navigation--container -->

    <nav class="navigation">
        <div class="navigation--header">
            <h2 class="navigation--title">QUANTUM UI</h2>
        </div>
        <div class="navigation--body">
            <ul class="navigation--list">
                <li class="navigation--item">
                    <a href="/index.html" class="navigation--link">Home</a>
                </li>
                <li class="navigation--item">
                    <a href="/pages/docs.html" class="navigation--link">Docs</a>
                </li>
                <li class="navigation--item">
                    <a href="https://github.com/Adarsh-Patel-Dev/Quantum-CL/tree/dev/components"
                        class="navigation--link">GitHub</a>
                </li>
            </ul>
        </div>

    </nav>

    <!--main--container -->

    <div class="body--container">

        <aside class="aside--container">
            <div class="aside--header">
                <h3 class="aside--title">Get Started</h3>
            </div>
            <div class="aside--body">

                <ul class="aside--list">
                    <li class="aside--item">
                        <a href="/pages/docs.html" class="aside--link">Introduction</a>
                    </li>
                    <li class="aside--item">
                        <a href="/pages/docs.html" class="aside--link">Installation</a>
                    </li>
                    <li class="aside--item">
                        <a href="/pages/docs.html" class="aside--link">Typography</a>
                    </li>
                    <li class="aside--item">
                        <a href="/pages/docs.html" class="aside--link">Colors</a>
                    </li>
                </ul>
            </div>

            <div class="divider"></div>

            <div class="aside--header">
                <h3 class="aside--title">Components</h3>
            </div>
            <div class="aside--body">

                <ul class="aside--list">
                    <li class="aside--item">
                        <a href="/components/avatar/avatar.html" class="aside--link">Avatar</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/alerts/alert.html" class="aside--link">Alert</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/badge/badge.html" class="aside--link">Badge</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/button/button.html" class="aside--link">Button</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/card/card.html" class="aside--link">Card</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/image/image.html" class="aside--link">Image</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/input/input.html" class="aside--link">Input</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/list/list.html" class="aside--link">List</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/navigation/navigation.html" class="aside--link">Navigation</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/modal/modal.html" class="aside--link">Modal</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/rating/rating.html" class="aside--link">Rating</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/text-utility/text-utility.html" class="aside--link">Text Utility</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/toast/toast.html" class="aside--link">Toast</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/grid/grid.html" class="aside--link">Grid</a>
                    </li>
                    <li class="aside--item">
                        <a href="#" class="aside--link">Sub Menu</a>
                    </li>
                    <li class="aside--item">
                        <a href="#" class="aside--link">Slider</a>
                    </li>
                    <li class="aside--item">
                        <a href="#" class="aside--link">Drawer</a>
                    </li>
                </ul>
            </div>


        </aside>

        <!---------------------  main-content -------------------------->

        <!----------------------Images-------------------->
        <main class="main--content">

            <h2 class="intoduction--heading">Images</h2>
            <p class="introduction--para">
                Image Components are used to display Images on websites, which are screen responsive. They expand upto
                the width of the container they are in.
            </p>

            <div class="divider"></div>

            <h3 class="intoduction--heading">Square Image</h3>
            <p class="introduction--para">Square Images are the square shaped, with a default dimension of 350px X
                350px.</p>


            <div class="img--container">
                <img src="https://stz1.imgix.net/Web_IT/contentId/37147/type/KEY/dimension/1536x2048/lang/en-US?auto=compress,format?w=228&fit=max&auto=compress,format"
                    alt="" class="img--square ">

            </div>

            <div class="code--container">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=47px&ph=55px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2509%2509%253Cdiv%2520class%253D%2522img--container%2522%253E%250A%2520%2520%2520%2509%2509%2509%2520%253Cimg%2520src%253D%2522%252F%2522%2520alt%253D%2522%2522%2520class%253D%2522img--square%2520%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
                    style="width: 586px; height: 213px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <div class="divider"></div>

            <h3 class="intoduction--heading">Responsive Image</h3>
            <p class="introduction--para">Responsive Image is the one that expands to cover the container it is present
                in. Note : Resize the browser window, to see the responsive property.
            </p>

            <div class="img--container">
                <img src="https://sm.ign.com/t/ign_in/articlepage/s/square-enix-reveals-new-ninja-inspired-iron-man/square-enix-reveals-new-ninja-inspired-iron-man_7kck.1280.jpg"
                    alt="" class="img--responsive">

            </div>

            <div class="code--container">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=47px&ph=55px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2509%2509%2509%253Cdiv%2520class%253D%2522img--container%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520src%253D%2522%252F%2522%2520alt%253D%2522%2522%2520class%253D%2522img--responsive%2522%253E%250A%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
                    style="width: 637px; height: 250px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <div class="divider"></div>

            <h3 class="intoduction--heading">Round Image</h3>
            <p class="introduction--para">Round Images are the circular, with a default dimension of 350px X 350px.</p>

            <div class="img--container">
                <img src="https://i.pinimg.com/564x/dd/f4/ea/ddf4eacd7191bbb1bd98b8ca9ec5f900.jpg" alt=""
                    class="img--round img--responsive">

            </div>

            <div class="code--container">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=47px&ph=55px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2509%2509%2509%253Cdiv%2520class%253D%2522img--container%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520src%253D%2522%252F%2522%2520alt%253D%2522%2522%2520class%253D%2522img--round%2520img--responsive%2522%253E%250A%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
                    style="width: 713px; height: 250px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <div class="divider"></div>



        </main>
    </div>

</body>

</html>