@import url("/index.css");
@import url("/pages/docs.css");


.btn-container {
    border: 1px solid var(--GRAY-80);
    padding: 1.5rem 2rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    max-width: 80%;
    width: auto; 
    border-radius: 0.2rem;
}

.btn {
    padding: 1rem 2rem;
    font-family: 'Montserrat', sans-serif; 
    border-width: 1px solid ;
    color: var(--WHITE);
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--GREEN-50);
    border-color:  var(--GREEN);
    transition: 0.5s;
}

.btn--primary:hover {
    background-color:transparent;
    border-color:  var(--GREEN);
    transition: 0.5s;
}

.btn--info {
    background-color: var(--BLUE-50);
    border-color: var(--BLUE-50);
    transition: 0.5s;
}

.btn--info:hover {
    background-color: transparent;
    border-color: var(--BLUE-50);
    transition: 0.5s;
}

.btn--success {
    background-color: var(--GREEN-50);
    border-color: var(--GREEN);
    transition: 0.5s;
}

.btn--success:hover {
    background-color: transparent;
    border-color: var(--GREEN);
    transition: 0.5s;
}

.btn--warning {
    background-color: var(--ORANGE-50);
    border-color: var(--ORANGE);
    transition: 0.5s;
}

.btn--warning:hover {
    background-color: transparent;
    border-color: var(--ORANGE);
    transition: 0.5s;
}

.btn--danger {
    background-color: var(--RED-50);
    border-color: var(--RED);
    transition: 0.5s;
}

.btn--danger:hover {
    background-color: transparent;
    border-color: var(--RED);
    transition: 0.5s;
}


.btn--outline {
    background-color: transparent;
}


.btn--round {
    border-radius: 50px;
}


.btn--outline:hover {
    background-color: var(--GRAY-80);
    color: var(--WHITE);
}

.btn--ghost {
    background-color: var(--GRAY-80);
    border: none;
    color: var(--WHITE);
    font-size: 20px;
    cursor: no-drop;
}

.btn-link{
    text-decoration: underline;
}

.btn--icon {
    padding: 10px 20px;
}

.btn-float {
    border: none;
    position: fixed;
    color: var(--WHITE);
    width: 50px;
    height: 50px;
    bottom: 1.5rem;
    background-color: var(--BLACK);
    right: 1.5rem;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px #868585;
}

.my-float {
    margin-top: 3px;
    margin-left: -9px;
}

