@import url("/pages/docs.css");

/********************* avatar*************** */

.avatar--container {
    border: 1px solid var(--GRAY-80);
    padding: 1rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    max-width: 80%;
    width: auto;
    border-radius: 0.2rem;
}

.avatar {
    width: 7rem;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
}
.avatar--wrapper{
    aspect-ratio: 1/1;
}
.avatar--small {
    width: 5rem;
    height: 5rem;
}

.avatar--large {
    width: 9rem;
    height: 9rem;
}

.avatar--xlarge {
    width: 12rem;
    height: 12rem;
}

.avatar--xxlarge {
    width: 15rem;
    height: 15rem;
}

.square{
    border-radius: 3px;
}

.avatar--text {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    width: 7rem;
    height: 7rem;
    color: var(--WHITE);
    background-color: var(--GRAY-80);
    border-radius: 50%;
    font-weight: 600;
}
