<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/avatar/avatar.css">
    <link rel="stylesheet" href="/src/prism/prism.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Photon UI | Docs</title>
</head>

<body>

    <!--navigation--container -->


    <header class="navigation">
        <div class="navigation--header">
            <h2 class="navigation--title">QUANTUM UI</h2>
        </div>
        <div class="navigation--body">
            <ul class="navigation--list">
                <li class="navigation--item">
                    <a href="/index.html" class="navigation--link">Home</a>
                </li>
                <li class="navigation--item">
                    <a href="docs.html" class="navigation--link ">Docs</a>
                </li>
                <li class="navigation--item">
                    <a href="#" class="navigation--link">GitHub</a>
                </li>
            </ul>
        </div>

    </header>

    <!--main--container -->


    <div class="body--container">

        <aside class="aside--container">
            <div class="aside--header">
                <h3 class="aside--title">Get Started</h3>
            </div>
            <div class="aside--body">

                <ul class="aside--list">
                    <li class="aside--item">
                        <a href="/pages/docs.html" class="aside--link">Introduction</a>
                    </li>
                    <li class="aside--item">
                        <a href="/pages/docs.html" class="aside--link">Installation</a>
                    </li>
                    <li class="aside--item">
                        <a href="/pages/docs.html" class="aside--link">Typography</a>
                    </li>
                    <li class="aside--item">
                        <a href="/pages/docs.html" class="aside--link">Colors</a>
                    </li>
                </ul>
            </div>

            <div class="divider"></div>

            <div class="aside--header">
                <h3 class="aside--title">Components</h3>
            </div>
            <div class="aside--body">

                <ul class="aside--list">
                    <li class="aside--item">
                        <a href="/components/avatar/avatar.html" class="aside--link">Avatar</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/alerts/alert.html" class="aside--link">Alert</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/badge/badge.html" class="aside--link">Badge</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/button/button.html" class="aside--link">Button</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/card/card.html" class="aside--link">Card</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/image/image.html" class="aside--link">Image</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/input/input.html" class="aside--link">Input</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/list/list.html" class="aside--link">List</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/navigation/navigation.html" class="aside--link">Navigation</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/modal/modal.html" class="aside--link">Modal</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/rating/rating.html" class="aside--link">Rating</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/toast/toast.html" class="aside--link">Toast</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/grid/grid.html" class="aside--link">Grid</a>
                    </li>
                    <li class="aside--item">
                        <a href="#" class="aside--link">Sub Menu</a>
                    </li>
                    <li class="aside--item">
                        <a href="#" class="aside--link">Slider</a>
                    </li>
                    <li class="aside--item">
                        <a href="#" class="aside--link">Drawer</a>
                    </li>
                </ul>
            </div>


        </aside>

        <!---------------------  main-content -------------------------->

        <main class="main--content--introduction">

            <section id="avatar--section">

                <!---------------------- Avatar-------------------->

                <h2 class="intoduction--heading">Avatar</h2>
                <p class="introduction--para">Avatars are user profile pictures, usually found in circular shapes.
                    Avatars can be used for 'container' objects — projects, spaces, repositories, etcetera — to give
                    them a recognisable visual identity.</p>
                <div class="divider"></div>


                <h2 class="intoduction--heading">Profile Avatar</h2>
                <p class="introduction--para">Profile Avatars can be created using the class <code>avatar</code>, inside
                    the img tag.</p>
                <div class="avatar--container">

                    <div>
                        <img class="avatar"
                            src="https://i.pinimg.com/564x/dd/f4/ea/ddf4eacd7191bbb1bd98b8ca9ec5f900.jpg" alt="">
                    </div>

                    <div>
                        <img class="avatar"
                            src="https://i.pinimg.com/564x/dd/f4/ea/ddf4eacd7191bbb1bd98b8ca9ec5f900.jpg" alt="">
                    </div>

                    <div>
                        <img class="avatar"
                            src="https://i.pinimg.com/564x/dd/f4/ea/ddf4eacd7191bbb1bd98b8ca9ec5f900.jpg" alt="">
                    </div>

                    <div>
                        <img class="avatar"
                            src="https://i.pinimg.com/564x/dd/f4/ea/ddf4eacd7191bbb1bd98b8ca9ec5f900.jpg" alt="">

                    </div>
                </div>

                <div class="code--container">
                    <script type="text/plain" class="line-numbers language-markup">
                        <div><img class="avatar"src="/" alt=""></div>
                    </script>
                </div>

                <div class="divider"></div>
                <!---------------------- Avatar variants-------------------->

                <h2 class="intoduction--heading">Sizes of Avatar</h2>
                <p class="introduction--para">Size of the avatars can be changed by adding <code>avatar--large</code>
                    <code>avatar--xlarge</code> <code>avatar avatar--xxlarge</code> class to the existing avatar class.
                </p>

                <div class="avatar--container">

                    <!-- <div>
                        <img class="avatar avatar--small"
                            src="https://i.pinimg.com/564x/dd/f4/ea/ddf4eacd7191bbb1bd98b8ca9ec5f900.jpg" alt="">
                    </div> -->

                    <div>
                        <img class="avatar"
                            src="https://i.pinimg.com/564x/dd/f4/ea/ddf4eacd7191bbb1bd98b8ca9ec5f900.jpg" alt="">
                    </div>

                    <div>
                        <img class="avatar avatar--large"
                            src="https://i.pinimg.com/564x/dd/f4/ea/ddf4eacd7191bbb1bd98b8ca9ec5f900.jpg" alt="">
                    </div>

                    <div>
                        <img class="avatar avatar--xlarge"
                            src="https://i.pinimg.com/564x/dd/f4/ea/ddf4eacd7191bbb1bd98b8ca9ec5f900.jpg" alt="">
                    </div>

                    <div>
                        <img class="avatar avatar--xxlarge"
                            src="https://i.pinimg.com/564x/dd/f4/ea/ddf4eacd7191bbb1bd98b8ca9ec5f900.jpg" alt="">

                    </div>

                </div>

                <div class="code--container">
                    <script type="text/plain" class="line-numbers language-markup">
                        <div><img class="avatar"src="/" alt=""></div>
    
                        <div><img class="avatar avatar--large" src="/" alt=""></div>
    
                        <div><img class="avatar avatar--xlarge" src="/" alt=""></div>
    
                        <div><img class="avatar avatar--xxlarge" src="/" alt=""></div>
                    </script>
                </div>
                
                <div class="divider"></div>

                <!---------------------- Avatar square-------------------->

                <h2 class="intoduction--heading">Square Avatar</h2>
                <p class="introduction--para">Square avatars can be created by adding <code>square</code> class to the
                    existing avatar class.</p>


                <div class="avatar--container">

                    <!-- <div>
                        <img class="avatar avatar--small square"
                            src="https://i.pinimg.com/564x/dd/f4/ea/ddf4eacd7191bbb1bd98b8ca9ec5f900.jpg" alt="">
                    </div> -->

                    <div>
                        <img class="avatar square"
                            src="https://i.pinimg.com/564x/dd/f4/ea/ddf4eacd7191bbb1bd98b8ca9ec5f900.jpg" alt="">
                    </div>

                    <div>
                        <img class="avatar avatar--large square"
                            src="https://i.pinimg.com/564x/dd/f4/ea/ddf4eacd7191bbb1bd98b8ca9ec5f900.jpg" alt="">
                    </div>

                    <div>
                        <img class="avatar avatar--xlarge square"
                            src="https://i.pinimg.com/564x/dd/f4/ea/ddf4eacd7191bbb1bd98b8ca9ec5f900.jpg" alt="">
                    </div>

                    <div>
                        <img class="avatar avatar--xxlarge  square"
                            src="https://i.pinimg.com/564x/dd/f4/ea/ddf4eacd7191bbb1bd98b8ca9ec5f900.jpg" alt="">

                    </div>

                </div>

                <div class="code--container">
                    <script type="text/plain" class="line-numbers language-markup">
                    <div>
                        <img class="avatar square" src="/" alt="">
                    </div>
                      
                    </script>
                </div>

                <div class="divider"></div>
                <!---------------------- Avatar with Text-------------------->

                <h2 class="intoduction--heading">Text Avatar</h2>
                <p class="introduction--para">Text avatars can be created by adding <code>avatar--text</code> class to
                    the existing avatar class.</p>

                <div class="avatar--container">

                    <div class="avatar--text">
                        <span>AP</span>
                    </div>

                    <div class="avatar--text">
                        <span>RE</span>
                    </div>

                    <div class="avatar--text">
                        <span>SP</span>
                    </div>


                </div>

                <div class="code--container">
                    <script type="text/plain" class="line-numbers language-markup">
                        <div class="avatar--text">
                            <span>AP</span>
                        </div>
                        <div class="avatar--text">
                            <span>RE</span>
                        </div>
                        <div class="avatar--text">
                            <span>SP</span>
                        </div>
                    </script>
                </div>

            </section>

        </main>


    </div>
    <script src="/src/prism/prism.js"></script>
</body>

</html>