<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/assets/quantum ui logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/components/slider/slider.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>QUANTUM UI | Slider</title>
</head>

<body>

    <!--navigation--container -->

    <nav class="navigation">
        <div class="navigation--header">
            <h2 class="navigation--title">QUANTUM UI</h2>
        </div>
        <div class="navigation--body">
            <ul class="navigation--list">
                <li class="navigation--item">
                    <a href="/index.html" class="navigation--link">Home</a>
                </li>
                <li class="navigation--item">
                    <a href="/pages/docs.html" class="navigation--link">Docs</a>
                </li>
                <li class="navigation--item">
                    <a href="https://github.com/Adarsh-Patel-Dev/Quantum-CL/tree/dev/components"
                        class="navigation--link">GitHub</a>
                </li>
            </ul>
        </div>

    </nav>

    <!--main--container -->

    <div class="body--container">

        <aside class="aside--container">
            <div class="aside--header">
                <h3 class="aside--title">Get Started</h3>
            </div>
            <div class="aside--body">

                <ul class="aside--list">
                    <li class="aside--item">
                        <a href="/pages/docs.html" class="aside--link">Introduction</a>
                    </li>
                    <li class="aside--item">
                        <a href="/pages/docs.html" class="aside--link">Installation</a>
                    </li>
                    <li class="aside--item">
                        <a href="/pages/docs.html" class="aside--link">Typography</a>
                    </li>
                    <li class="aside--item">
                        <a href="/pages/docs.html" class="aside--link">Colors</a>
                    </li>
                </ul>
            </div>

            <div class="divider"></div>

            <div class="aside--header">
                <h3 class="aside--title">Components</h3>
            </div>
            <div class="aside--body">

                <ul class="aside--list">
                    <li class="aside--item">
                        <a href="/components/avatar/avatar.html" class="aside--link">Avatar</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/alerts/alert.html" class="aside--link">Alert</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/badge/badge.html" class="aside--link">Badge</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/button/button.html" class="aside--link">Button</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/card/card.html" class="aside--link">Card</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/image/image.html" class="aside--link">Image</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/input/input.html" class="aside--link">Input</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/list/list.html" class="aside--link">List</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/navigation/navigation.html" class="aside--link">Navigation</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/modal/modal.html" class="aside--link">Modal</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/text-utility/text-utility.html" class="aside--link">Text Utility</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/rating/rating.html" class="aside--link active-link">Rating</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/toast/toast.html" class="aside--link">Toast</a>
                    </li>
                    <li class="aside--item">
                        <a href="/components/grid/grid.html" class="aside--link">Grid</a>
                    </li>
                     
                    <li class="aside--item">
                        <a href="/components/slider/slider.html" class="aside--link">Slider</a>
                    </li>
                     
                </ul>
            </div>


        </aside>

        <!---------------------  main-content -------------------------->

        <main class="main--content">

            <h2 class="intoduction--heading">Slider</h2>
            <p class="introduction--para">
                Slider is a input element of type "range". It defines a control for entering a number. It allows users to easily input values in range by sliding the slider.   Default range is 0 to 100. However, you can set restrictions on what numbers are accepted with the following attributes.
                <br/>
                <br/>
                    max - specifies the maximum value allowed
                <br/>
                min - specifies the minimum value allowed
                <br/>
                step - specifies the legal number intervals
                
                <br/>
                    value - Specifies the default value
                </p>

            <div class="divider"></div>
            <!----------------------Slider-------------------->

                <div class="slidecontainer">
                    <h4>Default range slider</h4>
                    <input type="range" min="1" max="100" value="50" >
                    
                    <h4>Custom range slider</h4>
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    <p>Value: <span id="demo"></span></p>

                <div class="code--container">
                    <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2509%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%2522100%2522%2520value%253D%252250%2522%2520%253E%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%2520%2520%2520%2520%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%2522100%2522%2520value%253D%252250%2522%2520class%253D%2522slider%2522%2520id%253D%2522myRange%2522%253E"
  style="width: 833px; height: 248px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
                  </iframe>
                </div>

            </div>
        </main>
    </div>
    <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;
        
        slider.oninput = function() {
          output.innerHTML = this.value;
        }
        </script>
</body>

</html>