 @import url("/pages/docs.css");
 @import url("/button/button.css");
 

 .nav--container{
    border: 1px solid var(--GRAY-20);
    padding: 1rem;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    display: flex;
    width: 100%;
    height: auto;
    background: var(--BLACK-100);
    position: sticky;
    top: 0;
    z-index: 2;
}

.btn-icon{
    color: var(--WHITE);
}



.nav--body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav--header {
    display: inline;
    align-items: baseline;
    font-weight: 500;
    font-size: 2rem;
}

.nav--title {
    cursor: pointer;
    display: inline;
    align-items: center;
    letter-spacing: 0.2rem;
    font-weight: 500;
    font-size: 3rem;
    color: var(--WHITE);
}

.nav--search {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 3rem;
}


.nav--search--input {
    width: 40rem;
    border: none;
    height: 3rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.164);
    color: var(--WHITE);
    font-family: inherit;
    border-radius: 0.5rem;
}
  
.nav--search--btn {
    cursor: pointer;
    border: 1px solid var(--WHITE);
    background-color: transparent;
    color: var(--WHITE);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}



.nav--link {
    text-decoration: none;
    color: var(--WHITE);
    transition: 0.5s;
    font-weight: 500;
    font-size: 1.5rem;
}

.link-btn {
    border: 1px solid var(--WHITE);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
}



.btn-solid {
    color: var(--WHITE);
    background-color: var(--LIGHT-GREEN);
    border: 1px solid var(--WHITE);
    padding: 1rem 1rem;
    font-family: 'Montserrat', sans-serif;
}

.btn-solid:hover {
    background-color: var(--BLACK-100);
    color: var(--WHITE);;
    border: 1px solid var(--WHITE);
    padding: 1rem 1rem;
    font-family: 'Montserrat', sans-serif;
}

.nav-links {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.nav--list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 2rem;
    width: auto;
    list-style: none;

}

.nav--item {
    padding: 0rem;
}

.badge--number {
    position: relative;
    aspect-ratio: 1;
    left: 80%;
    top: -20px;
    font-size: 5px;
    font-weight: 600;
    border-radius: 30px;

    background-color: var(--LIGHT-GREEN);;
    color: var(--BLACK-100);
    padding: 1px 5px;
    border: 2px solid var(--WHITE);
}

.icons {
    font-size: 2.3rem;
    color: var(--WHITE);
}


/* Navbar with submenu*/

.navbar {
    overflow: hidden;
    background-color: var(--BLACK-100); 
  }
  
  .nav-bar a {
    font-size: 16px;
    color: var(--WHITE);
    padding: 14px 16px;
}
  
  .subnav .subnavbtn {
      font-weight: 400;
  }

  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: var(--BLACK-60);
    color: var(--BLACK-100);
    color: var(--WHITE);
    font-weight: 400;
    cursor: pointer;
}

.subnav-content {
    display: none;
    position: absolute;
    top: 5.1rem;
    background-color: var(--GRAY-80);
    width: inherit;
    z-index: 1;
}
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: flex;
    flex-direction: column;
  }

  /* navbar with drawer*/

  .sidenav {
    height: 70vh;
    width: 0;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--BLACK-80);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3rem;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
    color: var(--GRAY-20);
    display: block;
    transition: 0.3s;
  }
  
  .sidenav .nav--link:hover {
    color: var(--BLACK-60);
    background-color: var(--GRAY-20);
    transform: scale(1.1);
    transition: 1s;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav .closebtn:hover{
      color: var(--WHITE);
      transform: scale(1.1);
      font-weight: 300;
      cursor: pointer;
  }