/* @import url("/index.css"); */
@import url("/pages/docs.css");

.alert {
    width: auto;
    min-width: 40rem;
    padding: 2rem;
    border-radius: 5px;
    margin: 1rem auto;
    font-size: 2rem;
    font-weight: 400;
    
}

.alerts{
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.alert-success {
    background-color: var(--GREEN-20);
    border: 1px solid var(--GREEN);
    color: var(--GREEN);
}

.alert-info {
    background-color: var(--BLUE-20);
    border: 1px solid var(--BLUE);
    color: var(--BLUE);
}

.alert-warning {
    background-color: var(--ORANGE-20);
    border: 1px solid var(--ORANGE);
    color: var(--ORANGE);
}

.alert-danger {
    background-color: var(--RED-20);
    border: 1px solid var(--RED);
    color: var(--RED);
}